<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="boolean">
            <name>shopStatus</name>
            <label>Shop aktivieren</label>
            <value>true</value>
            <description>Soll das Plugin für diesen Shop aktiviert werden?</description>
        </element>

        <element type="text">
            <name>googleMapsApiKey</name>
            <label>Google Maps API Schlüssel</label>
            <value>1234567890abcdef</value>
            <description><![CDATA[Der Google Maps API Schlüssel.]]></description>
        </element>

        <element type="text">
            <name>planungsweltenKey</name>
            <label>Planungswelten Schlüssel</label>
            <value>ostermann</value>
            <description><![CDATA[Der Planungswelten Schlüssel.]]></description>
        </element>

        <element type="text">
            <name>apiUrl</name>
            <label>API iFrame Url</label>
            <value>https://sale.planungswelten.de</value>
            <description><![CDATA[Die Url von Planungswelten.]]></description>
        </element>

        <element type="button">
            <name>storeButton</name>
            <label><![CDATA[<b>Verkaufshäuser Einstellungen</b>]]></label>
        </element>

        <element type="text">
            <name>storeKeyWitten</name>
            <label>Schlüssel - Witten</label>
            <value>18046</value>
            <description>...</description>
        </element>

        <element type="text">
            <name>storeKeyRecklinghausen</name>
            <label>Schlüssel - Recklinghausen</label>
            <value>30963</value>
            <description>...</description>
        </element>

        <element type="text">
            <name>storeKeyLeverkusen</name>
            <label>Schlüssel - Leverkusen</label>
            <value>16834</value>
            <description>...</description>
        </element>

        <element type="text">
            <name>storeKeyHaan</name>
            <label>Schlüssel - Haan</label>
            <value>21072</value>
            <description>...</description>
        </element>

        <element type="text">
            <name>storeKeyBottrop</name>
            <label>Schlüssel - Bottrop</label>
            <value>21071</value>
            <description>...</description>
        </element>

        <element type="button">
            <name>seoButton</name>
            <label><![CDATA[<b>SEO Einstellungen</b>]]></label>
        </element>

        <element type="text">
            <name>seoUrl</name>
            <label>SEO Url</label>
            <value>abverkauf</value>
            <description><![CDATA[Hier können Sie eine SEO Url für die Seite von Planungswelten hinterlegen. Diese Url leitet dann automatisch auf die Plugin Url weiter.<br /><b>Beispiel</b>: abverkauf<br />https://www.domain.de/abverkauf]]></description>
        </element>

        <element type="text">
            <name>seoUrlWitten</name>
            <label>SEO Url - Witten</label>
            <value>abverkaufwitten</value>
            <description>...</description>
        </element>

        <element type="text">
            <name>seoUrlRecklinghausen</name>
            <label>SEO Url - Recklinghausen</label>
            <value>abverkaufrecklinghausen</value>
            <description>...</description>
        </element>

        <element type="text">
            <name>seoUrlLeverkusen</name>
            <label>SEO Url - Leverkusen</label>
            <value>abverkaufleverkusen</value>
            <description>...</description>
        </element>

        <element type="text">
            <name>seoUrlHaan</name>
            <label>SEO Url - Haan</label>
            <value>abverkaufhaan</value>
            <description>...</description>
        </element>

        <element type="text">
            <name>seoUrlBottrop</name>
            <label>SEO Url - Bottrop</label>
            <value>abverkaufbottrop</value>
            <description>...</description>
        </element>

    </elements>
</config>
