<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="boolean">
            <name>shopStatus</name>
            <label>Shop aktivieren</label>
            <value>true</value>
            <description>Soll das Plugin für diesen Shop aktiviert werden?</description>
        </element>

        <element type="button">
            <name>seoButton</name>
            <label><![CDATA[<b>SEO Einstellungen</b>]]></label>
        </element>

        <element type="text">
            <name>seoUrl</name>
            <label>SEO Url</label>
            <value>abverkauf</value>
            <description><![CDATA[Hier können Sie eine SEO Url für die Seite von Planungswelten hinterlegen. Diese Url leitet dann automatisch auf die Plugin Url weiter.<br /><b>Beispiel</b>: abverkauf<br />https://www.domain.de/abverkauf]]></description>
        </element>

    </elements>
</config>
